<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout3.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/themes.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>Select a genre to search by</header>
    <main>
      <form action='/genreSearch' method='post'>
        <select name="genre" id="genre-select">
          <option value="">--Please choose a genre--</option>
          <% genre.forEach(item => { %>
            <option value="<%= item.id %>"><%= item.name %></option>
          <% }) %>
        </select>
        <button type="submit">
          Search
        </button>
      </form>
      <%- include('../partials/nav') -%>
    </main>
    <footer>
      <%- include('../partials/footer') -%>
    </footer>
  </body>
</html>