<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout4.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/themes.css">
  </head>
  <body>
    <header>Similar Movie Results</header>
    <main>
      <ul>
        <% similarMovies.forEach(movie => { %>
          <li>
            <div>
              <img src="<%= movie.image_url %>" >
              <h2><%= movie.title %></h2>
              <p><%= movie.description %></p>
            </div>
          </li>
            <% }) %>
      </ul>
      <h1>Testing</h1>
      <button type="button" id="randomMovie" onclick="window.location.href='/random';">Random Movie</button>
      <button type="button" id="keywordSearch" onclick="window.location.href='/new';">Search by Genre</button>
      <button type="button" id="recommendations"onclick="window.location.href='/recommendations';">Recommendations</button>
      <button type="button" id="aboutUs" onclick="window.location.href='/about';">About Us</button>
    </main>
    <footer>
      <%- include('../partials/footer') -%>
    </footer>
  </body>
</html>