<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/public/js/app.js"></script> 

<p>created by Sara Strasner, James Swift, and Sara Russert for Codefellows 301</p>