<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/layout5.css">
    <link rel="stylesheet" href="/styles/modules.css">
    <link rel="stylesheet" href="/styles/themes.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>About Us</header>
    <main>
      <h1>Testing!</h1>
    <section>
      <div class="background">
      <a href="https://www.linkedin.com/in/sararussert/"><img src="img/Russert.jpeg" alt="Sara Russert" title="Sara Russert" /></a>
      <h2>Sara Russert</h2>
      <h3>Software Engineer</h3>
      <p>My favorite movie is <a href="https://www.imdb.com/title/tt0097576/">Indiana Jones and the Last Crusade.</a> I have a background as a competitive athlete, award winning baker, and singer in a punk band. Which is to say that I have an eclectic skill set and succeed at anything I put my mind to. I love the challenge and reward that solving a difficult coding problem presents and pride myself on finding elegant and efficient solutions.  I am seeking opportunities to develop greater proficiency with backend development and am eager to expand my knowledge of different coding languages. I am looking for a position with a company that fosters the growth of their engineers, specifically I could work in a lot of areas and diversify my skillset. My favorite season is Fall!</p>

      </div>
      <div class="background">
        <a id="sara" href="https://www.linkedin.com/in/sarastrasner/"><img src="img/strasner.jpeg" alt="Sara Strasner" title="Sara Strasner" /></a>
        <h2>Sara Strasner</h2>
        <h3>Software Developer</h3>
        <p>My favorite movie is <a href="https://www.themoviedb.org/movie/13597-labyrinth?language=en-US">The Labyrinth</a>, which I've loved ever since I realized that the main character is named Sara, and that David Bowie and I have the same birthday. Aside from being a Bowie fan, I am a Seattle-based software developer. Before transitioning into software, I worked in Museum education where I managed recruitment, registration, staffing, budgets, and events for museum Education programs. I am hoping to leverage my skills in a nonprofit tech company. </p>
      </div> 
      <div class="background">
        <a href="https://www.linkedin.com/in/jamesbswift/"><img src="img/james.jpg" alt="James" title="James" /></a>
        <h2>James Swift</h2>
        <h3>Software Developer</h3>
        <p>My favorite movie is <a href=”https://www.themoviedb.org/movie/55721-bridesmaids?language=en-US/”>Bridesmaids</a>. I quote the movie way too much inlife. I am a software developer. Previously I worked in finance for many years, but I wanted to do something more exciting. I found Code Fellows and have not looked back. I love watching movies, this generator will be so helpful in keeping my watch list full. Christmas time is my favorite season, this app will be a great addition to the season.</p>
      </div> 
      </section>
      <h1>Testing</h1>
      <button type="button" id="randomMovie" onclick="window.location.href='/random';">Random Movie</button>
      <button type="button" id="keywordSearch" onclick="window.location.href='/new';">Search by Genre</button>
      <button type="button" id="recommendations"onclick="window.location.href='/recommendations';">Recommendations</button>
      <button type="button" id="aboutUs" onclick="window.location.href='/about';">About Us</button>
      </main>
    <footer>
      <%- include('partials/footer') -%>
    </footer>
  </body>
</html>