<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <header><p>Error -<%= message %></p>
    </header>
    <main>
      <%- include('partials/nav') -%>
    </main>
    <footer>
      <%- include('partials/footer') -%>
    </footer>
  </body>
</html>