<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <header>Error
      <!-- update this for launch -->
    </header>
    <main>
      <p><%= message %></p>
    </main>
    <footer>
      <%- include('partials/footer') -%>
    </footer>
  </body>
</html>