<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <header><p>Error -<%= message %></p>
    </header>
    <main>
      <h1>Testing</h1>
      <button type="button" id="randomMovie" onclick="window.location.href='/random';">Random Movie</button>
      <button type="button" id="keywordSearch" onclick="window.location.href='/new';">Search by Genre</button>
      <button type="button" id="recommendations"onclick="window.location.href='/recommendations';">Recommendations</button>
      <button type="button" id="aboutUs" onclick="window.location.href='/about';">About Us</button>
    </main>
    <footer>
      <%- include('partials/footer') -%>
    </footer>
  </body>
</html>