<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') -%>
  </head>
  <body>
    <main>
      <h1>Testing!</h1>
      <button type="button" id="randomMovie">Random Movie</button>
      <button type="button" id="keywordSearch">Search by Keyword</button>
      <button type="button" id="recommendations">Recommendations</button>
      <button type="button" id="aboutUs">About Us</button>
    </main>
    <footer>
      <%- include('partials/footer') -%>
    </footer>
  </body>
</html>