*{
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  align-content: center;
  display: grid;
  text-align: center;
  background-image: url(/img/christmas.jpeg) no-repeat center center fixed;
}

.halloween{
  background: url(/img/halloween.jpeg);
  background-size: cover;
  color: white;
}

.romcom{
  background: url(/img/romcom.jpeg);
  color: white;
}

.summer{
  background: url(/img/summer.jpeg);
  color:#062940;
}

.christmas{
  background-image: url(/img/christmas.jpeg);
  color: #600000;
} 

