body{
  /* overflow: scroll; */
  width: 480px;
  margin: auto;
  text-align: center;
}

html {
  height: 100%;
}

/* form{
  margin: auto;
  grid-row: 1/2;
} */

main{
  grid-template-columns: 1fr;
  grid-template-rows: 75px 75px 75px 75px 75px;
  display: grid;
}

button{
  margin: 10px;
  background-color: #003D57;
  color: white;
  border: none;
}

h1{
  grid-row: 1/2;
  font-size: 1.4em;
  line-height: 3em;
}

#randomMovie{
  grid-row: 2/3;
}

#keywordSearch{
  grid-row: 3/4;
}

#recommendations{
  grid-row: 4/5;
}

footer{
  grid-row: 5/6;
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  line-height: 1em;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (min-width:768px){
  body{
    width: 100%;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  header{
    font-size: 2em;
    padding: 10px;
  }

  form{
    margin: auto;
    grid-column: 1/6;
  }
  main{
    grid-template-columns: 1fr 0.1fr 1fr 1fr 1fr;
    grid-template-rows: 190px 110px 110px 110px 30px 30px 30px 30px;
    display: grid;
  }

  h1{
    grid-row: 5/9;
    grid-column: 1/2;
    font-size: 1.5em;
    line-height: 1.4em;
    text-align: center;
    background-color: #003D57;
  }

  button{
    background-color:#003D57;
    height: 30px;
    border: none;
    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  #recommendations{
    grid-column: 3/6;
    grid-row: 5/6;
  }
  

  #randomMovie{
    grid-column: 3/6;
    grid-row: 6/7;
  }
  
  #keywordSearch{
    grid-column: 3/6;
    grid-row: 7/8;
  }
  
  #aboutUs{
    grid-column: 3/6;
    grid-row: 8/9;
  }
  
}
